/* src/components/layout/layout.css */
* {
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

body, html {
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.mc805548d2_layout {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

/* src/components/scrolling/scrolling.css */
.mcb372e550_marqueeland {
    display: flex;

    width: 100%;
    height: 100%;

    flex-direction: column;

    background-color: #083D77;

    overflow: hidden;
}

.mcb372e550_needleModal {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 40%;
    height: 10%;

    margin: auto;
    padding-top: 1rem;

    border-radius: 15px;

    font-family: sans-serif;
    text-align: center;

    background-color: white;

    transition: transform 200ms;
    transform: translateY(calc(var(--in) * 80vh));
}

@media screen and (min-width: 600px) {
    .mcb372e550_needleModal { font-size: 10rem }
}

/* src/components/scrolling/row/row.css */
.mc54668074_row {
    display: flex;
}

.mc54668074_animgroup {
    --from: 0%;
    --to: 100%;

    display: inline-flex;

    animation-name: mc54668074_slideRight;
    animation-timing-function: linear;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.mc54668074_mush {
    --rotate: 0deg;

    display: inline-block;

    vertical-align: middle;

    transition: transform 100ms;

    cursor: pointer;
    user-select: none;
}

.mc54668074_mush:hover {
    transform: scale(2) rotate(var(--rotate));
}

@keyframes mc54668074_slideRight {
    from { transform: translateX(var(--from)); }
    to   { transform: translateX(var(--to)); }
}
